<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form
                *ngIf="active"
                #assigningGradeToUniversityMajorForm="ngForm"
                novalidate
                (ngSubmit)="save()"
                autocomplete="off"
            >
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="assigningGradeToUniversityMajor.id">
                            {{ l('EditAssigningGradeToUniversityMajor') }}
                        </span>
                        <span *ngIf="!assigningGradeToUniversityMajor.id">
                            {{ l('CreateNewAssigningGradeToUniversityMajor') }}
                        </span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group">
                        <label for="GradeGradeName">{{ l('Grade') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="GradeGradeName"
                                name="gradeGradeName"
                                [(ngModel)]="gradeGradeName"
                                type="text"
                                disabled
                            />
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectGradeModal()" type="button">
                                    <i class="fa fa-search"></i>
                                    {{ l('Pick') }}
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setGradeIdNull()">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="assigningGradeToUniversityMajor.gradeId"
                        [(ngModel)]="assigningGradeToUniversityMajor.gradeId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="form-group m-form__group">
                        <label for="UniversityMajorUniversityMajorName">{{ l('UniversityMajor') }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="UniversityMajorUniversityMajorName"
                                name="universityMajorUniversityMajorName"
                                [(ngModel)]="universityMajorUniversityMajorName"
                                type="text"
                                disabled
                            />
                            <div class="input-group-append">
                                <button
                                    class="btn btn-primary blue"
                                    (click)="openSelectUniversityMajorModal()"
                                    type="button"
                                >
                                    <i class="fa fa-search"></i>
                                    {{ l('Pick') }}
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <button
                                    class="btn btn-danger btn-icon"
                                    type="button"
                                    (click)="setUniversityMajorIdNull()"
                                >
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="assigningGradeToUniversityMajor.universityMajorId"
                        [(ngModel)]="assigningGradeToUniversityMajor.universityMajorId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="form-group">
                        <label for="AssigningGradeToUniversityMajor_NameAssignedGradeToUniversityMajor">
                            {{ l('NameAssignedGradeToUniversityMajor') }} *
                        </label>
                        <input
                            type="text"
                            required
                            #AssigningGradeToUniversityMajor_NameAssignedGradeToUniversityMajor="ngModel"
                            id="AssigningGradeToUniversityMajor_NameAssignedGradeToUniversityMajor"
                            class="form-control"
                            [(ngModel)]="assigningGradeToUniversityMajor.nameAssignedGradeToUniversityMajor"
                            name="NameAssignedGradeToUniversityMajor"
                            minlength="1"

                            maxlength="200"
                        />
                        <validation-messages
                            [formCtrl]="AssigningGradeToUniversityMajor_NameAssignedGradeToUniversityMajor"
                        ></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!assigningGradeToUniversityMajorForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <assigningGradeToUniversityMajorGradeLookupTableModal
        #assigningGradeToUniversityMajorGradeLookupTableModal
        (modalSave)="getNewGradeId()"
    ></assigningGradeToUniversityMajorGradeLookupTableModal>
    <assigningGradeToUniversityMajorUniversityMajorLookupTableModal
        #assigningGradeToUniversityMajorUniversityMajorLookupTableModal
        (modalSave)="getNewUniversityMajorId()"
    ></assigningGradeToUniversityMajorUniversityMajorLookupTableModal>
</div>
