<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #universityMajorForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="universityMajor.id">{{ l('EditUniversityMajor') }}</span>
                        <span *ngIf="!universityMajor.id">{{ l('CreateNewUniversityMajor') }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group">
                        <label for="UniversityDepartmentUniversityDepartmentName">
                            {{ l('UniversityDepartment') }}
                        </label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="UniversityDepartmentUniversityDepartmentName"
                                name="universityDepartmentUniversityDepartmentName"
                                [(ngModel)]="universityDepartmentUniversityDepartmentName"
                                type="text"
                                disabled
                            />
                            <div class="input-group-append">
                                <button
                                    class="btn btn-primary blue"
                                    (click)="openSelectUniversityDepartmentModal()"
                                    type="button"
                                >
                                    <i class="fa fa-search"></i>
                                    {{ l('Pick') }}
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <button
                                    class="btn btn-danger btn-icon"
                                    type="button"
                                    (click)="setUniversityDepartmentIdNull()"
                                >
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="universityMajor.universityDepartmentId"
                        [(ngModel)]="universityMajor.universityDepartmentId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="form-group m-form__group">
                        <label for="UniversityDepartmentUniversityDepartmentName2">
                            {{ l('UniversityDepartment') }}
                        </label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="UniversityDepartmentUniversityDepartmentName2"
                                name="universityDepartmentUniversityDepartmentName2"
                                [(ngModel)]="universityDepartmentUniversityDepartmentName2"
                                type="text"
                                disabled
                            />
                            <div class="input-group-append">
                                <button
                                    class="btn btn-primary blue"
                                    (click)="openSelectUniversityDepartmentModal2()"
                                    type="button"
                                >
                                    <i class="fa fa-search"></i>
                                    {{ l('Pick') }}
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <button
                                    class="btn btn-danger btn-icon"
                                    type="button"
                                    (click)="setUniversityDepartmentIdNull()"
                                >
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input
                        class="form-control"
                        name="universityMajor.universityDepartmentId"
                        [(ngModel)]="universityMajor.universityDepartmentId"
                        type="text"
                        required
                        hidden
                    />

                    <div class="form-group">
                        <label for="UniversityMajor_UniversityMajorName">{{ l('UniversityMajorName') }} *</label>
                        <input
                            type="text"
                            #UniversityMajor_UniversityMajorName="ngModel"
                            id="UniversityMajor_UniversityMajorName"
                            class="form-control"
                            [(ngModel)]="universityMajor.universityMajorName"
                            name="UniversityMajorName"
                            minlength="1"
                            maxlength="200"
                            required
                        />
                        <validation-messages [formCtrl]="UniversityMajor_UniversityMajorName"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="UniversityMajor_UniversityMajorType">{{ l('UniversityMajorType') }}</label>
                        <select
                            class="form-control"
                            #UniversityMajor_UniversityMajorType="ngModel"
                            name="UniversityMajorType"
                            id="UniversityMajor_UniversityMajorType"
                            [(ngModel)]="universityMajor.universityMajorType"
                        >
                            <option value="1">{{ l('Specialized') }}</option>

                            <option value="2">{{ l('General') }}</option>
                        </select>
                        <validation-messages [formCtrl]="UniversityMajor_UniversityMajorType"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!universityMajorForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <universityMajorUniversityDepartmentLookupTableModal
        #universityMajorUniversityDepartmentLookupTableModal
        (modalSave)="getNewUniversityDepartmentId()"
    ></universityMajorUniversityDepartmentLookupTableModal>
    <universityMajorUniversityDepartmentLookupTableModal
        #universityMajorUniversityDepartmentLookupTableModal2
        (modalSave)="getNewUniversityDepartmentId()"
    ></universityMajorUniversityDepartmentLookupTableModal>
</div>
