<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header
            [title]="'ListOfAllCalculatedResults' | localize"
            [description]="'ListOfAllCalculatedResultsHeaderInfo' | localize"
        >
            <div role="actions">
                <button (click)="exportToExcel()" class="btn btn-outline-success">
                    <i class="fa fa-file-excel"></i>
                    {{ l('ExportToExcel') }}
                </button>

                <button
                    *ngIf="isGranted('Pages.ListOfAllCalculatedResults.Create')"
                    (click)="createListOfAllCalculatedResult()"
                    class="btn btn-primary blue"
                >
                    <i class="fa fa-plus"></i>
                    {{ l('CreateNewListOfAllCalculatedResult') }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input
                                                [(ngModel)]="filterText"
                                                name="filterText"
                                                autoFocus
                                                class="form-control m-input"
                                                [placeholder]="l('SearchWithThreeDot')"
                                                type="text"
                                            />
                                            <span class="input-group-btn">
                                                <button
                                                    (click)="getListOfAllCalculatedResults()"
                                                    class="btn btn-primary"
                                                    type="submit"
                                                >
                                                    <i class="flaticon-search-1"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" [hidden]="!advancedFiltersAreShown">
                                <div class="col-md-12">
                                    <div class="separator separator-dashed"></div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="NameCalculatedResultFilter">{{ l('NameCalculatedResult') }}</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="NameCalculatedResultFilter"
                                            name="nameCalculatedResultFilter"
                                            [(ngModel)]="nameCalculatedResultFilter"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="MinPriceFilter">{{ l('MinMax') }} {{ l('Price') }}</label>
                                        <div class="input-group">
                                            <input
                                                type="number"
                                                class="form-control"
                                                id="MinPriceFilter"
                                                [(ngModel)]="minPriceFilter"
                                                placeholder="{{ l('MinValue') }}"
                                                name="minPriceFilter"
                                            />
                                            <input
                                                type="number"
                                                class="form-control"
                                                [(ngModel)]="maxPriceFilter"
                                                placeholder="{{ l('MaxValue') }}"
                                                name="maxPriceFilter"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-12">
                                    <span
                                        class="clickable-item text-muted"
                                        *ngIf="!advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                    >
                                        <i class="fa fa-angle-down"></i>
                                        {{ l('ShowAdvancedFilters') }}
                                    </span>
                                    <span
                                        class="clickable-item text-muted"
                                        *ngIf="advancedFiltersAreShown"
                                        (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                                    >
                                        <i class="fa fa-angle-up"></i>
                                        {{ l('HideAdvancedFilters') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                #dataTable
                                (onLazyLoad)="getListOfAllCalculatedResults($event)"
                                [value]="primengTableHelper.records"
                                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                                [paginator]="false"
                                [lazy]="true"
                                [scrollable]="true"
                                ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th
                                            style="width: 130px"
                                            [hidden]="
                                                !isGrantedAny(
                                                    'Pages.ListOfAllCalculatedResults.Edit',
                                                    'Pages.ListOfAllCalculatedResults.Delete'
                                                )
                                            "
                                        >
                                            {{ l('Actions') }}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="nameCalculatedResult">
                                            {{ l('NameCalculatedResult') }}
                                            <p-sortIcon
                                                field="listOfAllCalculatedResult.nameCalculatedResult"
                                            ></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="price">
                                            {{ l('Price') }}
                                            <p-sortIcon field="listOfAllCalculatedResult.price"></p-sortIcon>
                                        </th>

                                        <th style="width: 50px"></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                    <tr>
                                        <td
                                            style="width: 130px"
                                            [hidden]="
                                                !isGrantedAny(
                                                    'Pages.ListOfAllCalculatedResults.Edit',
                                                    'Pages.ListOfAllCalculatedResults.Delete'
                                                )
                                            "
                                        >
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="fa fa-cog"></i>
                                                    <span class="caret"></span>
                                                    {{ l('Actions') }}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="viewListOfAllCalculatedResultModal.show(record)"
                                                        >
                                                            {{ l('View') }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            *ngIf="
                                                                permission.isGranted(
                                                                    'Pages.ListOfAllCalculatedResults.Edit'
                                                                )
                                                            "
                                                            class="dropdown-item"
                                                            (click)="
                                                                createOrEditListOfAllCalculatedResultModal.show(
                                                                    record.listOfAllCalculatedResult.id
                                                                )
                                                            "
                                                        >
                                                            {{ l('Edit') }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a
                                                            class="dropdown-item"
                                                            href="javascript:;"
                                                            *ngIf="
                                                                permission.isGranted(
                                                                    'Pages.ListOfAllCalculatedResults.Delete'
                                                                )
                                                            "
                                                            (click)="
                                                                deleteListOfAllCalculatedResult(
                                                                    record.listOfAllCalculatedResult
                                                                )
                                                            "
                                                        >
                                                            {{ l('Delete') }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="javascript:;"
                                                            *ngIf="entityHistoryEnabled"
                                                            class="dropdown-item"
                                                            (click)="showHistory(record.listOfAllCalculatedResult)"
                                                        >
                                                            {{ l('History') }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a
                                                            class="dropdown-item"
                                                            (click)="showResultAlocated(record.listOfAllCalculatedResult.id)"
                                                        >
                                                            {{ l('ShowResults') }}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a
                                                            class="dropdown-item"
                                                            (click)="showResultNotAlocated(record.listOfAllCalculatedResult.id)"
                                                        >
                                                            {{ l('ShowNotAlocated') }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('NameCalculatedResult') }}</span>
                                            {{ record.listOfAllCalculatedResult.nameCalculatedResult }}
                                        </td>
                                        <td style="width: 150px">
                                            <span class="p-column-title">{{ l('Price') }}</span>
                                            {{ record.listOfAllCalculatedResult.price }}
                                        </td>

                                        <td style="width: 50px">
                                            <button
                                                class="btn btn-primary btn-xs"
                                                (click)="
                                                    openChildRowForClassScheduleResult(
                                                        i,
                                                        'ClassScheduleResult_ListOfAllCalculatedResultId'
                                                    )
                                                "
                                            >
                                                {{ 'EditClassScheduleResult' | localize }}
                                            </button>
                                        </td>
                                    </tr>

                                    <tr
                                        *ngIf="
                                            classScheduleResultRowSelection[i] &&
                                            childEntitySelection['ClassScheduleResult_ListOfAllCalculatedResultId']
                                        "
                                    >
                                        <td colspan="4">
                                            <masterDetailChild_ListOfAllCalculatedResult_classScheduleResults-component
                                                [listOfAllCalculatedResultId]="record.listOfAllCalculatedResultId"
                                            ></masterDetailChild_ListOfAllCalculatedResult_classScheduleResults-component>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{ l('NoData') }}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator
                                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    (onPageChange)="getListOfAllCalculatedResults($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                    [showCurrentPageReport]="true"
                                    [currentPageReportTemplate]="
                                        'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                                    "
                                ></p-paginator>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditListOfAllCalculatedResultModal
            #createOrEditListOfAllCalculatedResultModal
            (modalSave)="getListOfAllCalculatedResults()"
        ></createOrEditListOfAllCalculatedResultModal>
        <viewListOfAllCalculatedResultModal #viewListOfAllCalculatedResultModal></viewListOfAllCalculatedResultModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
    </div>
</div>
