.buttonUpload {
    display: none;
}

.previewStyle {
    padding: 10px;
    margin: 5px;
    flex-wrap: wrap;
    width: 98%;
    margin-right: 10px;
    border-radius: 15px;
    box-shadow: 0 1px 6px 2px rgba(0 0 0 / 20%);
}

.imageUpload {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

i {
    color: white;
}

.uploadButton {
    padding: 10px 20px 10px 30px;
    margin: 5px;
    background-color: forestgreen;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: padding 300ms ease-out;
    &:hover {
        cursor: pointer;
        padding: 10px 25px 10px 35px;
        box-shadow: 2px 2px 5px 1px hsl(0, 0%, 66%);
    }
    &:before {
        padding: 10px !important;
    }
}

.deleteClass {
    background-color: #e32a2a;
    color: white;
    border-radius: 5px;
}

@media (max-width: 992px) {
    .previewStyle{
        justify-content: space-around;
    }
}
