<div [class]="containerClass">
    <div class="card card-custom gutter-b">
        <div class="card-header align-items-center border-0 mt-4">
            <h3 class="card-title align-items-start flex-column">
                <span class="font-weight-bolder text-dark">{{ 'ClassScheduleResults' | localize }}</span>
            </h3>
            <div class="card-toolbar">
                <button (click)="exportToExcel()" class="btn btn-outline-success">
                    <i class="fa fa-file-excel"></i>
                    {{ l('ExportToExcel') }}
                </button>
                <button
                    *ngIf="isGranted('Pages.ClassScheduleResults.Create')"
                    (click)="createClassScheduleResult()"
                    class="btn btn-primary blue"
                >
                    <i class="fa fa-plus"></i>
                    {{ l('CreateNewClassScheduleResult') }}
                </button>
            </div>
        </div>

        <div class="card-body">
            <form class="form" autocomplete="off">
                <div>
                    <div class="row align-items-center">
                        <div class="col-xl-12">
                            <div class="form-group m-form__group align-items-center">
                                <div class="input-group">
                                    <input
                                        [(ngModel)]="filterText"
                                        name="filterText"
                                        autoFocus
                                        class="form-control m-input"
                                        [placeholder]="l('SearchWithThreeDot')"
                                        type="text"
                                    />
                                    <span class="input-group-btn">
                                        <button
                                            (click)="getClassScheduleResults()"
                                            class="btn btn-primary"
                                            type="submit"
                                        >
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" [hidden]="!advancedFiltersAreShown">
                        <div class="col-md-12">
                            <div class="separator separator-dashed"></div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="MinWorkTimeInDayIdFilter">
                                    {{ l('MinMax') }} {{ l('WorkTimeInDayId') }}
                                </label>
                                <div class="input-group">
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="MinWorkTimeInDayIdFilter"
                                        [(ngModel)]="minWorkTimeInDayIdFilter"
                                        placeholder="{{ l('MinValue') }}"
                                        name="minWorkTimeInDayIdFilter"
                                    />
                                    <input
                                        type="number"
                                        class="form-control"
                                        [(ngModel)]="maxWorkTimeInDayIdFilter"
                                        placeholder="{{ l('MaxValue') }}"
                                        name="maxWorkTimeInDayIdFilter"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="MinLessonIdFilter">{{ l('MinMax') }} {{ l('LessonId') }}</label>
                                <div class="input-group">
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="MinLessonIdFilter"
                                        [(ngModel)]="minLessonIdFilter"
                                        placeholder="{{ l('MinValue') }}"
                                        name="minLessonIdFilter"
                                    />
                                    <input
                                        type="number"
                                        class="form-control"
                                        [(ngModel)]="maxLessonIdFilter"
                                        placeholder="{{ l('MaxValue') }}"
                                        name="maxLessonIdFilter"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="MinUniversityProfessorIdFilter">
                                    {{ l('MinMax') }} {{ l('UniversityProfessorId') }}
                                </label>
                                <div class="input-group">
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="MinUniversityProfessorIdFilter"
                                        [(ngModel)]="minUniversityProfessorIdFilter"
                                        placeholder="{{ l('MinValue') }}"
                                        name="minUniversityProfessorIdFilter"
                                    />
                                    <input
                                        type="number"
                                        class="form-control"
                                        [(ngModel)]="maxUniversityProfessorIdFilter"
                                        placeholder="{{ l('MaxValue') }}"
                                        name="maxUniversityProfessorIdFilter"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="MinSemesterIdFilter">{{ l('MinMax') }} {{ l('SemesterId') }}</label>
                                <div class="input-group">
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="MinSemesterIdFilter"
                                        [(ngModel)]="minSemesterIdFilter"
                                        placeholder="{{ l('MinValue') }}"
                                        name="minSemesterIdFilter"
                                    />
                                    <input
                                        type="number"
                                        class="form-control"
                                        [(ngModel)]="maxSemesterIdFilter"
                                        placeholder="{{ l('MaxValue') }}"
                                        name="maxSemesterIdFilter"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="MinGradeIdFilter">{{ l('MinMax') }} {{ l('GradeId') }}</label>
                                <div class="input-group">
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="MinGradeIdFilter"
                                        [(ngModel)]="minGradeIdFilter"
                                        placeholder="{{ l('MinValue') }}"
                                        name="minGradeIdFilter"
                                    />
                                    <input
                                        type="number"
                                        class="form-control"
                                        [(ngModel)]="maxGradeIdFilter"
                                        placeholder="{{ l('MaxValue') }}"
                                        name="maxGradeIdFilter"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="MinUniversityMajorIdFilter">
                                    {{ l('MinMax') }} {{ l('UniversityMajorId') }}
                                </label>
                                <div class="input-group">
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="MinUniversityMajorIdFilter"
                                        [(ngModel)]="minUniversityMajorIdFilter"
                                        placeholder="{{ l('MinValue') }}"
                                        name="minUniversityMajorIdFilter"
                                    />
                                    <input
                                        type="number"
                                        class="form-control"
                                        [(ngModel)]="maxUniversityMajorIdFilter"
                                        placeholder="{{ l('MaxValue') }}"
                                        name="maxUniversityMajorIdFilter"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="MinUniversityDepartmentIdFilter">
                                    {{ l('MinMax') }} {{ l('UniversityDepartmentId') }}
                                </label>
                                <div class="input-group">
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="MinUniversityDepartmentIdFilter"
                                        [(ngModel)]="minUniversityDepartmentIdFilter"
                                        placeholder="{{ l('MinValue') }}"
                                        name="minUniversityDepartmentIdFilter"
                                    />
                                    <input
                                        type="number"
                                        class="form-control"
                                        [(ngModel)]="maxUniversityDepartmentIdFilter"
                                        placeholder="{{ l('MaxValue') }}"
                                        name="maxUniversityDepartmentIdFilter"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <span
                                class="clickable-item text-muted"
                                *ngIf="!advancedFiltersAreShown"
                                (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                            >
                                <i class="fa fa-angle-down"></i>
                                {{ l('ShowAdvancedFilters') }}
                            </span>
                            <span
                                class="clickable-item text-muted"
                                *ngIf="advancedFiltersAreShown"
                                (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                            >
                                <i class="fa fa-angle-up"></i>
                                {{ l('HideAdvancedFilters') }}
                            </span>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row align-items-center">
                <!--<Primeng-Datatable-Start>-->
                <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                    <p-table
                        #dataTable
                        (onLazyLoad)="getClassScheduleResults($event)"
                        [value]="primengTableHelper.records"
                        rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                        [paginator]="false"
                        [lazy]="true"
                        [scrollable]="true"
                        ScrollWidth="100%"
                        [responsive]="primengTableHelper.isResponsive"
                        [resizableColumns]="primengTableHelper.resizableColumns"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th
                                    style="width: 130px"
                                    [hidden]="
                                        !isGrantedAny(
                                            'Pages.ClassScheduleResults.Edit',
                                            'Pages.ClassScheduleResults.Delete'
                                        )
                                    "
                                >
                                    {{ l('Actions') }}
                                </th>
                                <th style="width: 150px" pSortableColumn="workTimeInDayId">
                                    {{ l('WorkTimeInDayId') }}
                                    <p-sortIcon field="classScheduleResult.workTimeInDayId"></p-sortIcon>
                                </th>
                                <th style="width: 150px" pSortableColumn="lessonId">
                                    {{ l('LessonId') }}
                                    <p-sortIcon field="classScheduleResult.lessonId"></p-sortIcon>
                                </th>
                                <th style="width: 150px" pSortableColumn="universityProfessorId">
                                    {{ l('UniversityProfessorId') }}
                                    <p-sortIcon field="classScheduleResult.universityProfessorId"></p-sortIcon>
                                </th>
                                <th style="width: 150px" pSortableColumn="semesterId">
                                    {{ l('SemesterId') }}
                                    <p-sortIcon field="classScheduleResult.semesterId"></p-sortIcon>
                                </th>
                                <th style="width: 150px" pSortableColumn="gradeId">
                                    {{ l('GradeId') }}
                                    <p-sortIcon field="classScheduleResult.gradeId"></p-sortIcon>
                                </th>
                                <th style="width: 150px" pSortableColumn="universityMajorId">
                                    {{ l('UniversityMajorId') }}
                                    <p-sortIcon field="classScheduleResult.universityMajorId"></p-sortIcon>
                                </th>
                                <th style="width: 150px" pSortableColumn="universityDepartmentId">
                                    {{ l('UniversityDepartmentId') }}
                                    <p-sortIcon field="classScheduleResult.universityDepartmentId"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-record="$implicit">
                            <tr>
                                <td
                                    style="width: 130px"
                                    [hidden]="
                                        !isGrantedAny(
                                            'Pages.ClassScheduleResults.Edit',
                                            'Pages.ClassScheduleResults.Delete'
                                        )
                                    "
                                >
                                    <div class="btn-group dropdown" dropdown container="body">
                                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                            <i class="fa fa-cog"></i>
                                            <span class="caret"></span>
                                            {{ l('Actions') }}
                                        </button>
                                        <ul class="dropdown-menu" *dropdownMenu>
                                            <li>
                                                <a
                                                    href="javascript:;"
                                                    class="dropdown-item"
                                                    (click)="viewClassScheduleResultModal.show(record)"
                                                >
                                                    {{ l('View') }}
                                                </a>
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:;"
                                                    *ngIf="permission.isGranted('Pages.ClassScheduleResults.Edit')"
                                                    class="dropdown-item"
                                                    (click)="
                                                        createOrEditClassScheduleResultModal.show(
                                                            classScheduleModeSpaceId,
                                                            record.classScheduleResult.id
                                                        )
                                                    "
                                                >
                                                    {{ l('Edit') }}
                                                </a>
                                            </li>
                                            <li>
                                                <a
                                                    class="dropdown-item"
                                                    href="javascript:;"
                                                    *ngIf="permission.isGranted('Pages.ClassScheduleResults.Delete')"
                                                    (click)="deleteClassScheduleResult(record.classScheduleResult)"
                                                >
                                                    {{ l('Delete') }}
                                                </a>
                                            </li>
                                            <li>
                                                <a
                                                    href="javascript:;"
                                                    *ngIf="entityHistoryEnabled"
                                                    class="dropdown-item"
                                                    (click)="showHistory(record.classScheduleResult)"
                                                >
                                                    {{ l('History') }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td style="width: 150px">
                                    <span class="p-column-title">{{ l('WorkTimeInDayId') }}</span>
                                    {{ record.classScheduleResult.workTimeInDayId }}
                                </td>
                                <td style="width: 150px">
                                    <span class="p-column-title">{{ l('LessonId') }}</span>
                                    {{ record.classScheduleResult.lessonId }}
                                </td>
                                <td style="width: 150px">
                                    <span class="p-column-title">{{ l('UniversityProfessorId') }}</span>
                                    {{ record.classScheduleResult.universityProfessorId }}
                                </td>
                                <td style="width: 150px">
                                    <span class="p-column-title">{{ l('SemesterId') }}</span>
                                    {{ record.classScheduleResult.semesterId }}
                                </td>
                                <td style="width: 150px">
                                    <span class="p-column-title">{{ l('GradeId') }}</span>
                                    {{ record.classScheduleResult.gradeId }}
                                </td>
                                <td style="width: 150px">
                                    <span class="p-column-title">{{ l('UniversityMajorId') }}</span>
                                    {{ record.classScheduleResult.universityMajorId }}
                                </td>
                                <td style="width: 150px">
                                    <span class="p-column-title">{{ l('UniversityDepartmentId') }}</span>
                                    {{ record.classScheduleResult.universityDepartmentId }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                        {{ l('NoData') }}
                    </div>
                    <div class="primeng-paging-container">
                        <p-paginator
                            [rows]="primengTableHelper.defaultRecordsCountPerPage"
                            #paginator
                            (onPageChange)="getClassScheduleResults($event)"
                            [totalRecords]="primengTableHelper.totalRecordsCount"
                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                            [showCurrentPageReport]="true"
                            [currentPageReportTemplate]="
                                'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount
                            "
                        ></p-paginator>
                    </div>
                </div>
                <!--<Primeng-Datatable-End>-->
            </div>
        </div>
    </div>
</div>
<masterDetailChild_ClassScheduleModeSpace_createOrEditClassScheduleResultModal
    #createOrEditClassScheduleResultModal
    (modalSave)="getClassScheduleResults()"
></masterDetailChild_ClassScheduleModeSpace_createOrEditClassScheduleResultModal>
<masterDetailChild_ClassScheduleModeSpace_viewClassScheduleResultModal
    #viewClassScheduleResultModal
></masterDetailChild_ClassScheduleModeSpace_viewClassScheduleResultModal>
<entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
